In [1]:
# Import
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Read the weather_vacation.csv from vacation_search file into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/weather_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Korla,CN,81.23,overcast clouds,41.7597,86.1469,Gulisitan Hotel
1,5,Ribeira Grande,PT,75.60,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
2,11,Fairbanks,US,79.09,clear sky,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
3,12,Bontang,ID,77.23,overcast clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
4,14,Hamilton,US,86.63,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [3]:
# Add the city name, the country code, the weather description and maximum temperature
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

#Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

#Add a marker layer for each city to the map
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Pick 4 cities From the map above and create DataFrames for each city 
vacation_start = vacation_df.loc[vacation_df['City']=='Sao Felix Do Xingu',:]
vacation_end = vacation_df.loc[vacation_df['City']=='Sao Felix Do Xingu',:]
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Iaciara',:]
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Cabedelo',:]
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Paragominas',:]

In [5]:
# Get the lat-lng pairs as tuples from each city DataFrame 
start = tuple(vacation_start[['Lat','Lng']].to_numpy()[0])
end = tuple(vacation_end[['Lat','Lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['Lat','Lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['Lat','Lng']].to_numpy()[0])
stop3 = tuple(vacation_stop3[['Lat','Lng']].to_numpy()[0])

In [6]:
# Create a direction layer map using the start and end lat-lng pairs
start2stop1 = gmaps.directions_layer(start, stop1,travel_mode='DRIVING')
fig.add_layer(start2stop1)
stop12stop2= gmaps.directions_layer(stop1, stop2,travel_mode='DRIVING')
fig.add_layer(stop12stop2)
stop22stop3= gmaps.directions_layer(stop2, stop3,travel_mode='DRIVING')
fig.add_layer(stop22stop3)
stop32end= gmaps.directions_layer(stop3, end,travel_mode='DRIVING')
fig.add_layer(stop32end)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#connect the four city DataFrames into one DataFrame
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,439,Sao Felix Do Xingu,BR,88.56,scattered clouds,-6.6447,-51.9950,Rio Xingu Camping
1,175,Iaciara,BR,78.37,broken clouds,-14.0958,-46.6317,Hotel Matinha
2,633,Cabedelo,BR,75.47,scattered clouds,-6.9811,-34.8339,Hotel Pigalle
3,239,Paragominas,BR,82.98,broken clouds,-2.9667,-47.4833,INOVA

In [8]:
# Add city name, the country code, the weather description and maximum temperature for the city
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the lat and lng from each row and store in a new DataFrame
locations = itinerary_df[["Lat", "Lng"]]

# Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))